body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

input {
  text-align: center;
}

.autocomplete {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-group-item:hover {
  background-color: cadetblue;
}